<template>
  <div class="main-page">
    <h1>Blog</h1>
    <p>test</p>
    <!-- <counter></counter> -->
    <div class="card" v-for="post in posts" :key="post.id">
      <div class="header"><h4>{{ post.title }}</h4></div>
      <div class="body"><p>{{ post.body }}</p></div>
    </div>
    <button @click="deletePost">Delete POST</button>
  </div>
</template>

<script>
import axios from 'axios'
import Counter from 'components/Counter'

export default {
  components: {
    Counter
  },
  data: function () {
    return {
      posts: []
    }
  },
  created () {
    var apiLink = 'https://jsonplaceholder.typicode.com/posts/'
    axios.get(apiLink)
    .then(response => {
      console.log('post datas: ', response.data);
      this.posts = response.data
    })
    .catch(function (error) {
      // handle error
      console.log(error);
    })
    .then(function () {
      // always executed
    })

    axios.post(apiLink, {
      title: 'Fred',
      body: 'Flintstone'
    })
    .then( response => {
      console.log('post response :', response.data);
    })
    .catch(function (error) {
      console.log(error);
    })


    axios.put(apiLink + '1', {
      body: 'CONTENT'
    })
    .then( response => {
      console.log('put response :', response.data);
    })
    .catch(function (error) {
      console.log(error);
    })

    axios.patch(apiLink + '1', {
      body: 'CONTENT'
    })
    .then( response => {
      console.log('patch response :', response.data);
    })
    .catch(function (error) {
      console.log(error);
    })

  },
  methods: {
    deletePost () {
      axios.delete(apiLink + '1')
      .then( response => {
        console.log('delete response :', response.data);
      })
      .catch(function (error) {
        console.log(error);
      })
    }
  }
}
</script>
