<template>
  <div class="main-page">
    <h1>Todos</h1>
    <todo-list></todo-list>
  </div>
</template>

<script>
import TodoList from '../components/TodoList'
export default {
  components: {
    TodoList
  },
  data () {
    return {}
  },
  created () {
  },
  methods: {
  }
}
</script>
