<template>
  <div class="todo-container">
    <div>
      <button @click="exampleAddTodoItem">example add data</button>
      <input type="text" @keyup.enter.native="addTodoItem" placeholder="Add Todo Item">
    </div>
    <div v-for="todo in todos" :key="todo._id">
      <todo-item :item="todo"></todo-item>
    </div>
  </div>
</template>

<script>
import TodoItem from './TodoItem'
import axios from 'axios'

let baseApiUrl = 'https://vuejs-051b.restdb.io/rest/todos'

export default {
  components: {
    TodoItem
  },
  data () {
    return {
      todos: []
    }
  },
  created () {
    this.fetchData()
  },
  methods: {
    fetchData () {
      axios.get(baseApiUrl, {
        headers: {
          'x-apikey': '5b6210a6b54576334a7ed47c'
        }
      })
      .then(response => {
        console.log('todo datas: ', response.data);
        this.todos = response.data
      })
    },
    addTodoItem () {
      console.log('item added')
    },
    exampleAddTodoItem () {
      axios.post(baseApiUrl,
      {
        title: 'makan pecel',
        completed: true
      },
      {
        headers: {
          'x-apikey': '5b6210a6b54576334a7ed47c'
        }
      })
      .then(response => {
        console.log('item added')
        this.fetchData()
      })
    },

  }
}
</script>

<style>
</style>
